html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --accentBlue: hsl(248, 32%, 49%);
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
}

html {
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: rem(16);
}

body {
  min-height: 100vh;
  background: url("../images/bg-intro-mobile.png");
  background-color: var(--red);
  background-blend-mode: multiply;
}
@media (min-width: 40em) {
  body {
    background: url("../images/bg-intro-desktop.png");
    background-color: var(--red);
    background-blend-mode: screen;
  }
}
@media (min-width: 64em) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  text-align: center;
  color: white;
  padding: 2.5rem 1.25rem;
}
@media (min-width: 64em) {
  .container {
    display: flex;
    max-width: 70em;
    padding: 0;
  }
}

.intro__title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.625rem;
  padding-top: 1.5625rem;
}
@media (min-width: 64em) {
  .intro__title {
    font-size: 2.5rem;
  }
}
.intro__description {
  font-weight: 400;
  line-height: 1.4;
  margin: 1.875rem 0;
  padding: 0 0.625rem;
}
@media (min-width: 64em) {
  .intro__description {
    padding: 0;
  }
}
@media (min-width: 64em) {
  .intro {
    flex: 1;
    align-self: center;
    text-align: left;
    padding: 0 2.5rem;
  }
}

.form__title {
  background-color: var(--accentBlue);
  border-radius: 10px;
  padding: 0.9375rem 3.125rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.form__footer {
  color: var(--grayishBlue);
  font-size: 0.875rem;
  line-height: 1.7;
  padding: 0.625rem 1.875rem;
}
.form__footer strong {
  color: var(--red);
  transition: filter 250ms ease-in-out;
}
.form__footer strong:hover {
  cursor: pointer;
  filter: brightness(130%);
}
@media (min-width: 64em) {
  .form__footer {
    font-size: 0.75rem;
  }
}
@media (min-width: 64em) {
  .form {
    flex: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.9375rem;
  border-radius: 10px;
  margin-top: 1.875rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
form input {
  position: relative;
  margin: 0;
  padding: 0.9375rem;
  border-radius: 5px;
  color: var(--darkBlue);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--grayishBlue);
  transition: border 100ms ease-in-out;
}
form input:focus {
  outline: none;
  border: 1px solid var(--darkBlue);
}
form button {
  background-color: var(--green);
  text-transform: uppercase;
  color: white;
  padding: 1.25rem 0.3125rem;
  border-radius: 5px;
  margin: 0.625rem 0;
  border: none;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: filter 250ms ease-in-out;
  letter-spacing: 1.5px;
}
form button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.validation-text {
  color: var(--red);
  padding: 0;
  margin-top: 0.3125rem;
  text-align: right;
  font-size: 0.625rem;
  font-style: italic;
}

.empty {
  border: 2px solid var(--red);
}
.empty:focus {
  outline: none;
  border: 2px solid var(--red);
}

.icon {
  background: url("../images/icon-error.svg");
  background-position: 97% center;
  background-repeat: no-repeat;
}