@use "utils" as *;

body {
  min-height: 100vh;
  background: url("../images/bg-intro-mobile.png");
  background-color: var(--red);
  background-blend-mode: multiply;

  @include breakpoint(medium) {
    background: url("../images/bg-intro-desktop.png");
    background-color: var(--red);
    background-blend-mode: screen;
  }

  @include breakpoint(large) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  text-align: center;
  color: white;
  padding: 40px 20px;

  @include breakpoint(large) {
    display: flex;
    max-width: 1100px;
    padding: 0;
  }
}

.intro {
  &__title {
    font-weight: 700;
    line-height: 1.2;
    font-size: rem(26);
    padding-top: rem(25);

    @include breakpoint(large) {
      font-size: rem(40);
    }
  }

  &__description {
    font-weight: 400;
    line-height: 1.4;
    margin: rem(30) 0;
    padding: 0 10px;

    @include breakpoint(large) {
      padding: 0;
    }
  }

  @include breakpoint(large) {
    flex: 1;
    align-self: center;
    text-align: left;
    padding: 0 40px;
  }
}

.form {
  &__title {
    background-color: var(--accentBlue);
    border-radius: 10px;
    padding: rem(15) rem(50);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  &__footer {
    color: var(--grayishBlue);
    font-size: rem(14);
    line-height: 1.7;
    padding: 10px 30px;

    strong {
      color: var(--red);
      transition: filter 250ms ease-in-out;

      &:hover {
        cursor: pointer;
        filter: brightness(130%);
      }
    }

    @include breakpoint(large) {
      font-size: rem(12);
    }
  }

  @include breakpoint(large) {
    flex: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  input {
    position: relative;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    color: var(--darkBlue);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid var(--grayishBlue);
    transition: border 100ms ease-in-out;

    &:focus {
      outline: none;
      border: 1px solid var(--darkBlue);
    }
  }

  button {
    background-color: var(--green);
    text-transform: uppercase;
    color: white;
    padding: 20px 5px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: filter 250ms ease-in-out;
    letter-spacing: 1.5px;

    &:hover {
      filter: brightness(110%);
      cursor: pointer;
    }
  }
}

.validation-text {
  color: var(--red);
  padding: 0;
  margin-top: 5px;
  text-align: right;
  font-size: rem(10);
  font-style: italic;
}

.empty {
  border: 2px solid var(--red);

  &:focus {
    outline: none;
    border: 2px solid var(--red);
  }
}

img {
  position: absolute;
  transform: translateY(50%);
  right: 0;
}

input::after {
  content: url("../images/icon-error.svg");
  width: 100%;
  height: 100%;
  display: inline-block;
}
